* {
	margin: 0;
	padding: 0;
}

#title {
	color: white;
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	font-weight: bold;
	font-size: 48px;
	font-weight: 400;
	text-shadow: -4px 0 rgb(90,159,216), 0 4px rgb(90,159,216), 4px 0 rgb(90,159,216), 0 -4px rgb(90,159,216);
	top: 30px;
	position: relative;
}

#bowlingball {
	height: 148.5px;
	width: 148.5px;
	position: fixed;
	bottom: 10;
	left: 0;
	z-index: 7;
}

#bowlingpin1 {
	width: 111px;
	height: 240.9px;
	position: fixed;
	bottom: 10;
	right: 0;
	z-index: 2;
}

#bowlingpin2 {
	width: 111px;
	height: 240.9px;
	position: fixed;
	bottom: 10;
	right: 50;
	z-index: 3;
}

#bowlingpin3 {
	width: 111px;
	height: 240.9px;
	position: fixed;
	bottom: 10;
	right: 100;
	z-index: 4;
}

#bowlingpin4 {
	width: 111px;
	height: 240.9px;
	position: fixed;
	bottom: 10;
	right: 150;
	z-index: 5;
}

#bowlingpin5 {
	width: 111px;
	height: 240.9px;
	position: fixed;
	bottom: 10;
	right: 200;
	z-index: 6;
}

#lane {
	position: fixed;
	height: 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #FFB027;
	z-index: 100;
}
